body {
  overflow-x: hidden;
}

.summary-seperator {
  height: 59px;
  background-color: #29abe2;
  width: 3px;
  margin: 0 36px;
}

.summary-headline {
  margin-top: 110px;
  margin-left: 328px;
  margin-bottom: 48px;
  font-size: 27px;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: 0px solid rgb(57, 145, 17);
  width: 690px;
}

.summary-headline h2 {
  font-size: 61px;
  font-weight: 700;
}

h3 {
  font-size: 27px;
  font-weight: 400;
}

.summary-wrapper {
  display: flex;
  align-items: center;
  margin-left: 328px;
  width: 100%;
  border: 0px solid black;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 560px;
  border: 0px solid black;
  width: 800px;
  gap: 18px;
  margin-top: 105px;
}

.summary-container-first-row {
  gap: 32px;
  margin-bottom: 28px;
}

.summary-container-second-row {
  flex-direction: row;
  margin-bottom: 28px;
}

.summary-container-third-row {
  display: flex;
  gap: 28px;
}

.summary-small {
  font-size: 20px;
  font-weight: 300;
}

.summary-container-first-row a {
  display: flex;
  align-items: center;
  font-size: 64px;
  font-weight: 600;
  color: #000000;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  padding: 38px 58px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.summary-sum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.summary-container-second-row a {
  width: 560px;
  height: 168px;
  border-radius: 30px;
  padding: 28px 48px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  color: #000000;
  font-size: 64px;
  font-weight: 600;
}

.summary-urgent-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.summary-container-first-row a:hover,
.summary-container-second-row a:hover,
.summary-container-third-row a:hover {
  color: white;
  background-color: #2a3647;
}

.summary-seperator-second-container {
  width: 2px;
  height: 102px;
  margin: 0 40px;
  border: 2px solid #d1d1d1;
}

.summary-images {
  vertical-align: middle;
  height: 60px;
  width: 60px;
  margin-right: 38px;
}

.summary-container-third-row a {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  padding: 25px 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 64px;
  font-weight: 600;
  color: #000000;
}

.summary-welcome-name,
.summary-welcome-name-mobile {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}

.summary-welcome,
.summary-welcome-mobile {
  position: absolute;
  top: 547px;
  left: 968px;
  font-size: 47px;
  font-weight: 500;
  color: #2a3647;
  margin-left: 40px;
  width: 500px;
  border: 0px solid black;
  animation: welcomeSlideIn 3s forwards;
}

@keyframes welcomeSlideIn {
  from {
    transform: translateX(3200px);
  }
  to {
    transform: translateX(0px);
  }
}

.d-flex-ai-center-jc-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin-left: 230px;
  margin-top: 2px;
  padding-left: 50px;
  flex-wrap: wrap;
  flex-direction: column;
}

.summary-urgent-counter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1500px) {
  .summary-welcome,
  .summary-welcome-mobile {
    display: none;
  }
}
@media (max-width: 1200px) {
  .summary-headline {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 270px;
    margin-top: 20px;
  }

  .summary-wrapper {
    width: 0px;
    margin-left: 270px;
  }

  .summary-seperator {
    height: 3px;
    background-color: #29abe2;
    width: 59px;
    margin: 0 36px;
    display: none;
  }

  .summary-container {
    margin-top: 80px;
    width: 0px;
  }

  .summary-container-inside {
    height: calc(100vh - 150px);
  }

  .summary-seperator-mobil {
    display: block;
    height: 3px;
    background-color: #29abe2;
    width: 212px;
    margin-top: 3px;
  }

  h3 {
    font-size: 20px;
  }

  .summary-headline h2 {
    font-size: 47px;
  }
}

@media (max-width: 850px) {
  .summary-welcome-mobile {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 25px;
    animation: welcomeMobileHide 3s forwards;
  }

  .summary-welcome-name-mobile {
    font-size: 25px;
  }

  @keyframes welcomeMobileHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }

  .summary-container {
    opacity: 0;
    animation: welcomeMobileShow 3s forwards;
    animation-delay: 2s;
  }

  @keyframes welcomeMobileShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .summary-headline {
    margin-left: 20px;
    font-size: 47px;
  }

  .summary-wrapper {
    margin-left: 20px;
  }
}

@media (max-width: 610px) {
  .main-container {
    margin-top: 15px;
    flex-direction: column;
  }
  .summary-headline {
    margin-top: 0px;
  }

  .summary-container-third-row a {
    width: 104px;
    height: 128px;
    font-size: 40px;
  }

  .summary-small {
    text-align: center;
  }

  .summary-images {
    margin-right: 10px;
  }

  .summary-container-first-row {
    gap: 25px;
  }

  .summary-container-third-row {
    gap: 5px;
  }

  .summary-container-first-row a {
    width: 150px;
    height: 128px;
    padding: 25px 20px;
    font-size: 40px;
  }

  .summary-container-second-row a {
    width: 320px;
    height: 128px;
    font-size: 40px;
  }

  .summary-seperator-second-container {
    margin: 0 20px;
  }
}

@media (max-width: 374px) {
  .main-container {
    margin-top: 15px;
    flex-direction: column;
  }

  .summary-container-inside {
    height: calc(100vh - 180px);
  }

  .summary-container-first-row a {
    width: 100px;
    height: 128px;
    padding: 25px 20px;
  }

  .summary-images {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  .summary-container-first-row a {
    font-size: 40px;
  }

  .summary-container-second-row a {
    width: 220px;
    height: 128px;
    font-size: 40px;
  }

  .summary-seperator-second-container {
    margin: 0 10px;
  }

  .summary-container-third-row a {
    width: 70px;
    height: 128px;
    font-size: 40px;
  }

  .summary-urgent-date {
    font-size: 16px;
  }

  .summary-small {
    font-size: 14px;
  }
}
