<header>
  <img class="header-icon" src="/img/header/header_icon.svg" alt="Join Icon" />
  <p>Kanban Project Management Tool</p>
  <div class="help-user">
    <a href="help.html"
      ><img class="help-icon" src="/img/header/help_icon.svg" alt="Help"
    /></a>
    <span
      class="header-initials"
      id="header_initials"
      onclick="openContextMenuHeader()"
    ></span>
  </div>

  <div id="context_menu_header" class="d-none context-menu-header-container">
    <a href="legal_notice.html">Legal</a>
    <a href="privacy_policy.html">Privacy</a>
    <a href="index.html">Logout</a>
  </div>
</header>
