<div class="nav-desktop">
  <img class="nav-logo" src="/img/logo_nav_desktop.svg" />
  <div class="nav-menu">
    <a class="a-nav" href="summary.html">
      <img class="p-r-8" src="/img/summary_icon.svg" />
      Summary
    </a>
    <a class="a-nav" href="add_task.html">
      <img class="p-r-8" src="/img/add_task_icon.svg" />
      Add Task
    </a>
    <a class="a-nav" href="board.html">
      <img class="p-r-8" src="/img/board_icon.svg" />
      Board
    </a>
    <a class="a-nav" href="contact.html">
      <img class="p-r-8" src="/img/contacts_icon.svg" />
      Contacts
    </a>
  </div>
  <div class="legal-notice">
    <a class="legal-notice-link" href="privacy_policy.html">Privacy Policy</a>
    <a class="legal-notice-link" href="legal_notice.html">Legal Notice</a>
  </div>
</div>
